.container{
    width: 1300px;
    height: auto;
    margin: 0px auto;
    padding: 20px;
    background-color: rgb(29, 28, 28);
    color: white;
    border-radius: 12px;
}
html{
    font-size: 20px;
}
a{
    text-decoration: none;
    color: white;
   
}
.header{
    display: flex;
    justify-content: space-between;
}
.menu li{
    display: inline;
    margin-left: 25px;
   
}
.menu{
    margin-top: 3%;
}
.my_btn{
    width: 70px;
    height: 80px;
    background-color: transparent;
    border: 1px solid white;
    border-radius: 6px;
}
.my_btn img{
width: 25px;
height: 30px;
}
.banner{
    background-image: url('https://w.forfun.com/fetch/57/57d697d83d4ddbe3670190833c2242f0.jpeg');
    border-radius: 8px;
    display: flex;
    justify-content: space-around;
}
.banner h2{
font-size: 3rem;
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
background-color: rgba(223, 217, 217, 0.123);
width: 450px;
height: 150px;
text-align: center;
border-radius: 8px;
}
.banner p{
    margin-top: 20%;
}
.mainimg img{
    border-radius: 12px;
}
.adv li{
    display: inline;
    margin-left:11% ;

}
.service{
    display: flex;
    justify-content: space-around;
    margin-top: 4%;
}

.service1{
    width: 170px;
    height: 40px;
    background-color: transparent;
    border-radius: 20px;
    border: 2px solid white;
}
.service1 p{
    text-align: center;
    margin-top: -0px;

}
.design{
    display: flex;
    justify-content: space-around;
}
.design1 img{
    width: 50px;
    height: 50px;
    margin-left: 20px;
}
.design1{
    width: 320px;
    height: 350px;
    background-color: transparent;
    border: 1px solid white;
    padding: 10px;
    margin-top: 10%;
    border-radius: 8px;
}

.design1 p{
    margin-left: 20px;
}
.design span{
    color: rgb(122, 122, 126);
}
.my_btn2{
    width: 200px;
    height: 40px;
    margin-left: 20px;
    background-color: transparent;
    border-radius: 20px;
    border: 1px solid white;
}
.my_btn2:hover{
    width: 200px;
    height: 40px;
    margin-left: 20px;
    background-color: white;
    border-radius: 20px;
    border: 1px solid rgb(12, 12, 12);
}
.my_btn2 a:hover{
    color: black;
}
.projects{
    margin: 10%;
}
.projects p{
    width: 200px;
    height: 30px;
    border-radius: 18px;
    background-color: transparent;
    border: 1px solid white;
    text-align: center;
}
.projects h2{
    font-size: 3rem;
}
.art{
    display: flex;
    
    justify-content: space-between;
}
.art1 img{
    width: 400px;
    height: 400px;
    
}
.art2 img{
    width: 400px;
    height: 500px;
    margin-top: -20px;
}
.art3 img{
    width: 400px;
    height: 400px;
}
.mark h3{
    font-size: 3rem;
}
.brand1 p{
    width: 170px;
    height: 40px;
    background-color: transparent;
    border-radius: 20px;
    border: 2px solid white;
}
.brand1 p{
    text-align: center;
    margin-top: -0px;
}
ol li{
    font-size: 2rem;
}
.branding{
    display: flex;
    justify-content: space-around;
    padding: 10px;
}
.brand2 img{
    width: 370px;
    height: 490px;
}
.box1{
    width: 360px;
    height: 380px;
    background-color: rgb(3, 3, 3);
   position: relative;
   margin-top: -104%;
    margin-left: -40%;
}
.box1 img{
    width: 60px;
    height: 60px;
    margin: 15%;
}
.box1 p{
    margin-left: 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
ol hr{
    width: 100%;
    border: 1px solid rgba(255, 255, 255, 0.233);

}
.ceo{
   background-image: url('https://png.pngtree.com/thumb_back/fh260/background/20210216/pngtree-black-dots-background-image-image_562439.jpg');
   display: flex;
   justify-content: space-around;
   border-radius: 4pxs;
}
.man img{
    width: 580px;
    height: 800px;
}
.man2 img{
    width: 60px;
    height: 60px;
    border-radius: 50%;
}
.main{
    display: flex;
    justify-content: space-around;
    margin-top: 10%;
}
.man1 p{
    margin-top: 50%;
    font-size: 30px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.man3 b{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.exp{
    margin-top: 10%;
    display: flex;
    justify-content: space-evenly
}
.exp1{
    width: 100px;
    height: 180px;
    background-color: transparent;
    border: 2px solid rgba(245, 245, 245, 0.253);
    border-radius: 1px;
}
.exp1 h5{
    margin-left: 70%;
    margin-top: -20%;
    font-size: 70px;
    color: rgba(241, 238, 238, 0.582);
    font-family: 'Times New Roman', Times, serif;
}
.exp1 p{
    margin-top: -90%;
    font-size:25px;
    color: rgb(255, 255, 255);
    margin-left: 70%;
    text-align: justify;

}
.creative{
    display: flex;
    justify-content: space-evenly;
    margin-top:10% ;

    padding: 20px;
}
.img1 img{
    width: 400px;
    height: 500px;
}
.img2 img{
    width:220px ;
    height: 220px;
    top: -224px;
    right: 120px;
    position: relative;
}
.text_sq h5{
    font-size: 3rem;
    margin-top: -10%;
}
.banner2{
    background-image: url('https://png.pngtree.com/thumb_back/fh260/background/20210216/pngtree-black-dots-background-image-image_562439.jpg');
    width: 100%;
    height: 500px;
    margin-top: -30%;
}
.banner2 h6{
    font-size: 6rem;
    text-align: center;
    align-content: center;
    position: relative;
    top: 100px;
}
.banner2 a{
    text-decoration: underline;
    color: yellow;
}
.footer{
    display: flex;
    justify-content: space-evenly;
    margin-top: 10%;
}
input[type="text"]{
    border: none;
    width:200px;
    height: 20px;
    background-color: transparent;
}
.addmain b{
    font-size: 2rem;
}
.addmain p{
    font-size: 1rem;
}
::placeholder{
    color: white;
    font-size: 20px;
}